/* =================================================================== 
 *
 *  lide Main Stylesheet
 *  2017/3/21
 *  ------------------------------------------------------------------
 *
 *
 * =================================================================== */

body{
    background-color: #fff;
    width: 100%;
}
div{max-width: 640px;
    margin:0 auto;
    text-align: center;
    vertical-align: middle;
}
img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.banner{
    position: relative;
    width: 100%;
    height: 312px;
}
.banner img{
    height: 100%;
}
.banner .content{
    width: 80%;
    height: 20%;
    position: absolute;
    margin: auto; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.banner .content h1,.banner .content h3{
    padding-bottom: 2rem;
}
.nav{
    height: 84px;
    background-color: #f2f2f2;
    padding: 0 8%;
}
.nav li{
    position: relative;
    float: left;
    width: 25%;
    padding: 1.5em 0;
    color: #333;
}
.nav .cir {
    width: 50px;
    height: 50px;
    line-height: 28px;
    font-size: 14PX;
    border: 1px solid #000;
    border-radius:50%; 
}
.nav .cir p{
    margin-bottom: -0.6em;
}
.nav li~li:before{
    content: '>';
    position: absolute;
    left: -6px;
    top: 40%;
    font-size: 16px;
}
.order{
    background-color: #ccc;
    padding: 1em 0;
}
.form-name, .form-phone, 
.form-area,.form-city,
.form-submit {
    position: relative;
    line-height: 45px;
    height: 45px;
    text-align: center;
    margin-bottom: 6px;
}
.form-name input, 
.form-phone input, 
.form-area select,
.form-city select,
.form-submit input{
    border: 0px;
    line-height: 35px;
    font-size: 1.25em;
    width: 85%;
    border-left: 1px solid #b4b4b4;
    padding-left: 5px;
}
.order select{
    height: 45px;
    border-radius: 0;
}
.form-submit input{
    background:#ff7f00;
    color:#fff;
}
/*.form-area:after,
.form-city:after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    bottom: 17px;
    right: 8%;
    border: 5px solid transparent;
    border-left: 5px solid #aaa;
}*/
.feature{
    padding: 1rem 0;
    background-color: #f2f2f2;
}
.feature .feature-detail{
    position: relative;
    width: 94%;
    height: 175px;
    border-top: 1px solid #000;
    margin:15px auto;
}
.feature .feature-content{
    background: url('../images/img3.png') no-repeat center center;
    width: 180px;
    height: 130px;
    font-size: 1.4rem;
    position: absolute;
    padding: 13% 1rem;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.feature .feature-detail i{
    position: absolute;
    font-style: normal;
    display: block;
    width: 60px;
    height: 20px;
    font-size: 1.8rem; 
    line-height: 20px;
    top: -5%;
    left: 42%;
    background-color: #f2f2f2;
}
.menu{
    position: relative;
    background-color: #ccc;
    padding:3.5rem 0; 
}
.menu .line{
    display: block;
    width: 94%;
    border-top: 1px solid #000;
    position: relative;
    left: 3%;
    top: 5%;
}
.menu .text{
    position: absolute;
    font-style: normal;
    display: block;
    font-size: 18px;
    height: 20px;
    line-height: 20px;
    top: 2.7rem;
    left: 38%;
    background-color: #ccc;
    z-index: 999;
}
.menu li{
    position: relative;
    width: 94%;
    height: 120px;
    padding-top: 2.5rem;
    font-size: 16px;
    margin:0 auto;
    margin-top: 30px;
    background: url('../images/img2.png') no-repeat center center;
}
.menu li a{
    width: 90px;
    height: 25px;
    line-height: 25px;
    font-style: normal;
    text-decoration: none;
    color: #fff;
    border:1px solid #000;
    border-radius: 12px;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 1rem;
}
.logo img{
    height: 360px;
}
.contact{
    height: 5rem;
    line-height: 3rem;
    background-color: #333;
}
.contact li{
    position: relative;
    float: left;
    width: 33.33%;
    height: 90%;
}
.contact li~li:before{
    content: '|';
    font-size: 16px;
    color:#888;
    position: absolute;
    left: 0;
    top: 0;

}
.contact li a{
    color:#fff;
    font-size: 16px;
    text-decoration: none;
}

