body{
	background-color: #fff;
	width: 100%;
}
div{max-width: 640px;margin:0 auto;}
.yy-form-new{
	margin: 20px auto;
	text-align: center;
	width: 88.2%;
}
.form-name,.form-phone,.form-village{
	border: solid 1px #b4b4b4;
	line-height: 50px;
	height: 50px;
	text-align: center;
	margin-bottom: 20px;
}
.form-name input,.form-phone input,.form-village input{
	border :0px;
	line-height: 35px;
	font-size: 1.25em;
	width: 85%;
	border-left: 1px solid  #b4b4b4;
	padding-left: 5px;
}

.form-name img,.form-phone img,.form-village img{
	vertical-align:middle;
}
.yy-p{
	margin: 0 auto;
	padding-top: 60px;
	text-align: center;
	line-height: 40px;
	font-size: 1.5em;
}
.yy-p hr{
	margin-bottom: 60px;
}
.yy-p span{
	color: #ea4504;
}
.yy-form-new ul .submit{
	height: 50px;
	width: 90%;
	margin:10px auto;
	display: block;
	cursor: pointer;
	font-size: 20px;
	font-family: 'Microsoft YaHei';
	border: none;
	margin-top: 20px;
	color: #fff;
	background-color:#ea4504;
	-webkit-appearance:none;
}
.form-p{
	margin-top: 10px;
	text-align: left;
	padding: 0 9%;
	color: #b4b4b4;
	font-size: 11px;
}
.cont-p{
	margin: 0 auto;
	text-align: center;
	display: block;
}

.cont-p img{
	padding-top: 40px;
	max-width: 100%;
	height: auto;
	width: auto\9;
}

.f-w {
    width: 30%;
    float: left;
    margin-left: 2.5%;
}

.but-r {
    float: right;
    margin-top: 50%;
    width: 50%;
}

.but-l {
    float: left;
    margin-top: 50%;
    width: 50%;
}

.nows {
    background-color: #ec4608;
    color: #FFF;
}

.nows a {
    color: #FFF;
}

.slidea, .slideb, .slidec, .slided, .slidee, .slidef {
    height: 48px;
    line-height: 48px;
    border-top: solid 1px #bdbdbd;
    border-bottom: solid 1px #bdbdbd;
    border-right: solid 1px #bdbdbd;
}

.swiper-slide h3, .swiper-slide p {
    text-align: left;
    padding: 0 4%;
}

.tab-content {
    width: 96%;
    border: solid 1px #bdbdbd;
    margin: 2%;
}

.fll {
    position: relative;
    left: 0;
    z-index: 999;
    padding-top: 30%;
}

.frl {
    position: absolute;
    padding-top: 30%;
    right: -5px;
    z-index: 999;
}

.dtnow {
    background-color: #FF0000;
    color: #FFFFFF;
}